.Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}