.Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightslategray;
    border-radius: 8px;
    margin: 12px 0px;
    padding: 10px;
}